<% provide :title, "Help" %>
<h1><%= t ".helptitle" %></h1>
<p>
  <%= t ".gethelp" %>
  <%= link_to (t ".helppage"), "http://www.railstutorial.org/help" %>.
  <%= t ".seehelp" %>
  <em><%= link_to (t ".tutorial"), "http://www.railstutorial.org/book" %></em>
  <%= link_to (t ".book"), "http://www.railstutorial.org/book" %>.
</p>
